@font-face {
  font-family: 'Maschine';
  src: url(../assets/fonts/MachineStd.otf);
}

@font-face {
  font-family: 'MaschineBold';
  src: url(../assets/fonts/MachineStd-Bold.otf);
}

@font-face {
  font-family: 'Helvetica';
  src: url(../assets/fonts/Helvetica.ttf);
}

@font-face {
  font-family: 'HelveticaBold';
  src: url(../assets/fonts/Helvetica-Bold.ttf);
}

:root {
  --primary-color: #f8c600; /* Orange */
  --secondary-color: rgb(19, 103, 212);
  --text-color: #fbfbfb;
  --text-secondary-color: #bfbfd4;
  --text-tertiary-color: #7f7f98;

  --background-color: #050505;
  --background-secondary-color: #1c1d27;

  --primary-font-regular: 'Maschine', sans-serif;
  --primary-font-bold: 'MaschineBold', sans-serif;

  --secondary-font-regular: 'Helvetica', sans-serif;
  --secondary-font-bold: 'HelveticaBold', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6.25%;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16rem;
  font-family: var(--secondary-font-regular);
  color: var(--text-color);
}

.container {
  width: 100%;
  height: 100%;
  background: url(../assets/img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 50px;
}

.gameboards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 130px;
  width: 100%;
  height: 100%;
  position: relative;
}

.gameboard-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-none {
  display: none !important;
}

.gameboard {
  width: 450px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid white;
}

.coords {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  border: 1px solid white;
}

.missed-attack-cell {
  background: url(../assets/img/x.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: not-allowed;
}

.hit-attack-cell {
  background: url(../assets/img/explosion.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(158, 158, 158);
  cursor: not-allowed;
}

.axis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#nameInput {
  appearance: none;
  outline: none;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle Box Shadow */
}

#readyBtn {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  font-size: 25rem;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'HelveticaBold', sans-serif;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle Box Shadow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#shipTextDisplayer {
  padding: 20px 0px;
  font-family: 'HelveticaBold', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle Box Shadow */
}

#rotateBtn {
  width: 30px;
  height: 30px;
  background: url(../assets/img/rotate.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.placing-displayer {
  background-color: var(--secondary-color);
  padding: 0px 15px;
  margin: 10px 0px;
  border-radius: 6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valid-placement-cell {
  background-color: rgba(179, 179, 179, 0.74);
}

.adjacent-cell {
  background-color: rgba(179, 179, 179, 0.74);
}

.placing-cell {
  cursor: pointer;
}

.invalid-placement-cell {
  background: url(../assets/img/x-red.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: not-allowed;
}

.placed-cell {
  background-color: rgb(158, 158, 158) !important;
  pointer-events: none !important;
  cursor: not-allowed !important;
}

.player-placed-cell {
  background-color: rgb(158, 158, 158);
}

#playerGameboard {
  pointer-events: none;
}

#computerGameboard {
  cursor: crosshair;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 60px;
  position: relative;
  border: none;
  border-radius: 6px;
}

.modal-flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  pointer-events: none;
}

.modal-open {
  display: block !important;
}

.game-over-text {
  font-size: 30rem;
  font-family: 'HelveticaBold', sans-serif;
  color: rgb(58, 58, 58);
}

#winnerDisplayer {
  font-size: 20rem;
  margin-bottom: 10px;
  font-family: 'HelveticaBold', sans-serif;
  color: rgb(95, 95, 95);
}

#playAgainBtn {
  cursor: pointer;
  padding: 15px;
  font-size: 22rem;
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: 'HelveticaBold', sans-serif;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle Box Shadow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.disable-attack {
  cursor: not-allowed !important;
}

#nameInput {
  background-color: #fafafa;
  font-size: 17rem;
  font-family: 'HelveticaBold', sans-serif;
}

.fleet {
  padding: 11px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'HelveticaBold', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fleet-player {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.fleet-computer {
  background-color: var(--secondary-color);
}

.vs-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.vs {
  font-family: 'HelveticaBold', sans-serif;
  font-size: 80rem;
}

#playerNameDisplayer {
  margin-bottom: 10px;
  background-color: var(--primary-color);
}

#computerNameDisplayer {
  background-color: var(--secondary-color);
}

.name-displayer {
  font-family: 'HelveticaBold', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  padding: 10px;
}

.disabled-btn {
  opacity: 70% !important;
  cursor: not-allowed !important;
}

/*Media Queries*/

/* Media query for phones */
@media only screen and (max-width: 767px) {
  .container {
    padding: 20px;
  }
  .gameboards-container {
    flex-direction: column;
    gap: 15px;
  }
  .gameboard {
    width: 300px;
    height: 300px;
  }
  .vs-container {
    display: none;
  }
}

/* Media query for small phones */
@media only screen and (max-width: 376px) {
  .container {
    padding: 20px;
  }
  .gameboards-container {
    flex-direction: column;
    gap: 15px;
  }
  .gameboard {
    width: 270px;
    height: 270px;
  }
  .vs-container {
    display: none;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 5px;
  }
}
