<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div class="gameboards-container">
        <div class="gameboard-placeholder">
          <div class="empty-coord-cell"></div>
          <div class="coords A">A</div>
          <div class="coords B">B</div>
          <div class="coords C">C</div>
          <div class="coords D">D</div>
          <div class="coords E">E</div>
          <div class="coords F">F</div>
          <div class="coords G">G</div>
          <div class="coords H">H</div>
          <div class="coords I">I</div>
          <div class="coords J">J</div>
          <div class="coords 1">1</div>
          <div class="coords 2">2</div>
          <div class="coords 3">3</div>
          <div class="coords 4">4</div>
          <div class="coords 5">5</div>
          <div class="coords 6">6</div>
          <div class="coords 7">7</div>
          <div class="coords 8">8</div>
          <div class="coords 9">9</div>
          <div class="coords 10">10</div>
          <div class="gameboard" id="playerGameboard"></div>
        </div>

        <div class="gameboard-placeholder">
          <div class="empty-coord-cell"></div>
          <div class="coords A">A</div>
          <div class="coords B">B</div>
          <div class="coords C">C</div>
          <div class="coords D">D</div>
          <div class="coords E">E</div>
          <div class="coords F">F</div>
          <div class="coords G">G</div>
          <div class="coords H">H</div>
          <div class="coords I">I</div>
          <div class="coords J">J</div>
          <div class="coords 1">1</div>
          <div class="coords 2">2</div>
          <div class="coords 3">3</div>
          <div class="coords 4">4</div>
          <div class="coords 5">5</div>
          <div class="coords 6">6</div>
          <div class="coords 7">7</div>
          <div class="coords 8">8</div>
          <div class="coords 9">9</div>
          <div class="coords 10">10</div>
          <div class="gameboard" id="computerGameboard"></div>
        </div>
      </div>
    </div>
  </body>
</html>
