<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div class="landing-top">www.battleship.com</div>
      <div class="main">
        <div class="landing-text">THE CLASSIC NAVAL COMBAT GAME</div>
        <div class="battleship-text">BATTLESHIP</div>
        <button class="play-btn">PLAY</button>
      </div>
      <div class="github-container">
        <a href="https://github.com/stefanbrkic1" class="github-link">@stefanbrkic1</a>
        <div class="github"></div>
      </div>
    </div>
  </body>
</html>
